body {
    background-image: url('bege.jpg');
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.carta-container {
    background: rgb(255, 255, 255);
    padding: 40px;
    max-width: 600px;
    text-align: center;
    border: 2px solid #8d5524;
}

.imagem-topo {
    width: 100%;
    max-width: 600px;
    height: auto;
    max-width: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}

.carrossel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carrossel {
    display: flex;
    width: 40%;
    animation: roleta 10s linear infinite;
}

.carrossel img {
    width: 100%;
    height: auto;
    margin: 5px;
    flex: 1;
}

@keyframes roleta {
    0% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(-250%); }
    100% { transform: translateX(-250%); }
    75% { transform: translateX(-300%); }
    50% { transform: translateX(-200%); }
    25% { transform: translateX(-100%); }
    0% { transform: translateX(0%); }
}

.gif-below {
    width: 100%; 
    max-width: 300px; 
    display: block;
    margin: 20px auto; 
    border-radius: 10px; 
}

#musiquinha {
    background-color: darkred;
    color: white;
    border: #8d5524;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

#musiquinha:houver {
    background-color: crimson;
}

@media (max-width: 600px) { 
    .imagem-container {
        flex-direction: column; 
    }

    .flores-container {
        position: static; 
        display: flex;
        flex-direction: row; 
        justify-content: center; 
    }

    .flores-container img {
        width: 60px; 
    }
}