body {
    background-image: url('imagens/bege.jpg');
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.carta-container {
    background: rgb(255, 255, 255);
    padding: 40px;
    max-width: 600px;
    text-align: center;
    border: 2px solid #8d5524;
}

.imagem-topo {
    width: 100%;
    max-width: 600px;
    height: auto;
    max-width: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}

.imagem-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.flores-container {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Reduz espaço entre as flores */
    position: absolute;
    top: 50%; /* Ajusta a posição vertical */
    transform: translateY(-50%);
}

.flores-container.esquerda {
    left: -80px; /* Ajusta para ficar ao lado esquerdo */
}

.flores-container.direita {
    right: -80px; /* Ajusta para ficar ao lado direito */
}

.flores-container img {
    width: 50px; /* Reduz o tamanho das flores */
    height: auto;
    border-radius: 8px; /* Bordas suaves */
}

.slideshow-container {
    max-width: 600px;
    margin: 20px auto;
}

.mySlides img{
    width: 150px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.gif-below {
    width: 100%; 
    max-width: 300px; 
    display: block;
    margin: 20px auto; 
    border-radius: 10px; 
}

#musiquinha {
    background-color: darkred;
    color: white;
    border: #8d5524;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

#musiquinha:houver {
    background-color: crimson;
}

@media (max-width: 600px) { /* Para telas menores */
    .imagem-container {
        flex-direction: column; /* Ajusta para telas pequenas */
        align-items: center;
    }

    .flores-container {
        position: static; /* Remove a posição absoluta */
        display: flex;
        flex-direction: row; /* Alinha as flores horizontalmente abaixo da foto */
        justify-content: center;
        gap: 5px;
        margin-top: 10px; /* Ajusta a distância */
    }

    .flores-container img {
        width: 50px; /* Reduz o tamanho das flores */
    }
}
